@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.body {
    width: 100%;
    margin: 0;
    padding: 0;
}
.header__container {
    position: relative;
    width: 100%;
    display: inline-block;
    padding: 0.61%;
    font-size: 20px;
    background: #fff;
    left: 140px;
}
.foto {
    position:absolute;
    width: 100%;
    background: #fff;
}
.header__logo {
    position:relative;
    /*left: 160px;*/
    color: #01996D;
    font-weight: bold;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    /*padding-right: 100px;*/
}
.header__vhod {
    display: inline-block;
    padding-left: 100px;
    /*padding-right: 20px;*/
}
.header__btn-vhod {
    /*margin-left: 100px;*/
    padding: 10px 30px;
    margin-left: 100px;
}
.header__btn {
    background: #01996D;
    padding: 10px 30px;
    color: white;
    border-radius: 3px;
    border-style: none;
    font-family: inherit;
    cursor: pointer;
}
.header__btn:hover {
opacity: 0.8;
}
.header__navbar-link {
    position: relative;
    text-decoration: none;
    font-family: 'Lato';
    color: black;
    left: 80px;
    padding-left: 40px;
    /*margin: 40px;*/
}
.header__navbar-link:hover {
    color: #01996D;
}
.header__logo, .header__nav, .header__vhod {
    display: inline;
    text-decoration: none;

}
.header__text-h {
    font-family: 'Georgia';
    font-style: normal;
    font-size:300%;
    color: #01996D;
}
.header__text {
    padding-bottom: 25px;
}
.header__vst {
    position: absolute;
    top: 21.22%;
    left:5%;
}
@media (max-width: 1200px)
{
    .header__logo, .header__nav, .header__vst {
font-size: 0.7em;
padding: 0.5em;
margin: 0.5em;
transition: all .4s;}
.header__btn {
    font-size: 0.7em;
    transition: all .4s;}
}

@media (max-width: 1073px)
{
    .header__logo, .header__nav, .header__vst {
font-size: 0.35em;
padding: 0.25em;
margin: 0.25em;
transition: all .4s;}
.header__btn {
    font-size: 0.35em;
    transition: all .4s;
}
}
@media (max-width: 813px)
{
    .header__logo, .header__nav, .header__vst {
font-size: 0.25em;
padding: 0.15em;
margin: 0.15em;
transition: all .4s;}
.header__btn {
    font-size: 0.25em;
    transition: all .4s;
}
}